{# templates/profile/base_profil.html.twig #}
{% extends 'base_front.html.twig' %}

{% block title %}Espace profil{% endblock %}

{% block page_content %}
    {% set current = app.request.attributes.get('_route') %}

    <section class="mb-4">

        <nav class="d-flex gap-2 mb-3 pb-2 border-bottom border-secondary" role="navigation">

            <a
                href="{{ path('app_profile_index') }}"
                class="btn btn-primary mt-1 {{ current == 'app_profile_index' ? 'active' }}"
            >
                Mon profil
            </a>

            <a
                href="{{ path('app_profile_transactions') }}"
                class="btn btn-primary mt-1 {{ current == 'app_profile_transactions' ? 'active' }}"
            >
                Transactions
            </a>

            <a
                href="{{ path('app_profile_records') }}"
                class="btn btn-primary mt-1 {{ current == 'app_profile_records' ? 'active' }}"
            >
                Records
            </a>

            <a
                href="{{ path('app_inventory_index') }}"
                class="btn btn-primary mt-1 {{ current == 'app_inventory' ? 'active' }}"
            >
                Inventaire
            </a>

        </nav>

    </section>

    {% block profile_content %}{% endblock %}
{% endblock %}
