{# templates/profile/base_profil.html.twig #}
{% extends 'base_front.html.twig' %}

{% block title %}Espace profil{% endblock %}

{% block page_content %}
    {# Route courante #}
    {% set current = app.request.attributes.get('_route') %}

    <section class="mb-4">
        <nav class="nav nav-underline mb-3 pb-2 border-bottom border-secondary" role="navigation">
            <a
                class="nav-link {{ current == 'app_profile_index' ? 'active fw-semibold link-light' : 'link-secondary' }}"
                aria-current="{{ current == 'app_profile_index' ? 'page' : null }}"
                href="{{ path('app_profile_index') }}"
            >
                Mon profil
            </a>

            <a
                class="nav-link {{ current == 'app_profile_transactions' ? 'active fw-semibold link-light' : 'link-secondary' }}"
                aria-current="{{ current == 'app_profile_transactions' ? 'page' : null }}"
                href="{{ path('app_profile_transactions') }}"
            >
                Transactions
            </a>

            <a
                class="nav-link {{ current == 'app_profile_records' ? 'active fw-semibold link-light' : 'link-secondary' }}"
                aria-current="{{ current == 'app_profile_records' ? 'page' : null }}"
                href="{{ path('app_profile_records') }}"
            >
                Records
            </a>
        </nav>
    </section>

    {# Contenu spécifique à chaque page du profil #}
    {% block profile_content %}{% endblock %}
{% endblock %}
