{% extends 'base_front.html.twig' %}

{% block title %}Backoffice · Dashboard{% endblock %}

{% block page_content %}

    {% set current = app.request.attributes.get('_route') %}

    <nav class="nav mb-3 pb-2 border-bottom border-secondary" role="navigation">

        <a
            href="{{ path('app_dashboard') }}"
            class="btn btn-primary mt-1 {{ current == 'app_dashboard' ? 'active' }}"
        >
            Dashboard
        </a>

        <a
            href="{{ path('app_admin_utilisateur_index') }}"
            class="btn btn-primary mt-1 {{ current starts with 'app_admin_utilisateur' ? 'active' }}"
        >
            Utilisateurs
        </a>

        <a
            href="{{ path('app_admin_games_index') }}"
            class="btn btn-primary mt-1 {{ current starts with 'app_admin_games' ? 'active' }}"
        >
            Jeux
        </a>

        <a
            href="{{ path('app_admin_market_index') }}"
            class="btn btn-primary mt-1 {{ current starts with 'app_admin_market' ? 'active' }}"
        >
            Items
        </a>

    </nav>

    {% block admin_content %}{% endblock %}

{% endblock %}
